



	/** VARIAVEIS EM ATUALIZACAO**/
	DECLARE @CODPARC_ATUA INT
	DECLARE @CPF_CNPJ_ATUA CHAR(15)
	DECLARE @VENDEDOR_ATUA INT
	DECLARE @CEP_ATUA CHAR(10)
	DECLARE @CODEND_ATUA INT
	DECLARE @EMAIL_ATUA CHAR(50)
	DECLARE @OBSERVACOES_ATUA CHAR (300)
	DECLARE @DTALTER_ATUA DATETIME
	DECLARE @ATUALIZADO_ATUA CHAR(5)
	DECLARE @NOMEEND_ATUA CHAR(50)
	DECLARE @TIPO_ATUA CHAR(5)
	DECLARE @NUMEND_ATUA CHAR (50)
	DECLARE @COMPLEMENTO_ATUA CHAR(50)
	DECLARE @CODBAI_ATUA INT
	DECLARE @NOMEBAI_ATUA CHAR (50)
	DECLARE @CODCID_ATUA INT 
	DECLARE @NOMECID_ATUA CHAR(50)
	DECLARE @CODREG_ATUA INT
	DECLARE @TELEFONE_ATUA CHAR(15)
	DECLARE @NOMECONTATO_ATUA CHAR (100)
	DECLARE @LAYOUT_ATUA CHAR(10)
	DECLARE @CELULAR_ATUA CHAR(20)
	DECLARE @WHATSAPP_ATUA CHAR (15)
	DECLARE @TELEFONE_CONTATO_ATUA CHAR (15)
	DECLARE @EMAIL_CONTATO_ATUA CHAR (50)
	DECLARE @EMAIL_LAYOUT_ATUA CHAR (50)
	DECLARE @EMAIL_NEWS_ATUA CHAR (50)
	DECLARE @CARGO_CTT_ATUA CHAR (30)
	DECLARE @CODCONTATO_ATUA INT

	SET @CODPARC_ATUA = 0
	SET @CPF_CNPJ_ATUA = 0
	SET @VENDEDOR_ATUA = 0
	SET @CEP_ATUA = 0
	SET @EMAIL_ATUA = 0
	SET @OBSERVACOES_ATUA = 0
	SET @DTALTER_ATUA = ''
	SET @ATUALIZADO_ATUA = ''
	SET @TIPO_ATUA =''
	SET @NUMEND_ATUA =''
	SET @COMPLEMENTO_ATUA =''
	SET @CODCID_ATUA = 0
	SET @CODREG_ATUA = 0
	SET @TELEFONE_ATUA=''
	SET @NOMECONTATO_ATUA =''
	SET @LAYOUT_ATUA =''
	SET @CELULAR_ATUA =''
	SET @WHATSAPP_ATUA =''
	SET @TELEFONE_CONTATO_ATUA =''
	SET @EMAIL_CONTATO_ATUA =''
	SET @EMAIL_LAYOUT_ATUA =''
	SET @EMAIL_NEWS_ATUA = ''
	SET @CARGO_CTT_ATUA = ''
	SET @CODCONTATO_ATUA = 0
	
	/** VARIAVEIS EM PRODUÇÃO**/
	DECLARE @CPF_CNPJ_PROD CHAR(15)
	DECLARE @VENDEDOR_PROD INT
	DECLARE @CEP_PROD CHAR(10)
	DECLARE @CODEND_PROD INT
	DECLARE @EMAIL_PROD CHAR(50)
	DECLARE @OBSERVACOES_PROD CHAR (300)
	DECLARE @DTALTER_PROD DATETIME
	DECLARE @ATUALIZADO_PROD CHAR(5)
	DECLARE @NOMEEND_PROD CHAR(50)
	DECLARE @TIPO_PROD CHAR(5)
	DECLARE @NUMEND_PROD CHAR (50)
	DECLARE @COMPLEMENTO_PROD CHAR(50)
	DECLARE @CODBAI_PROD INT
	DECLARE @NOMEBAI_PROD CHAR (50)
	DECLARE @CODCID_PROD INT
	DECLARE @CODREG_PROD INT
	DECLARE @TELEFONE_PROD CHAR(15)
	DECLARE @NOMECONTATO_PROD CHAR (100)
	DECLARE @LAYOUT_PROD CHAR(10)
	DECLARE @CELULAR_PROD CHAR(20)
	DECLARE @WHATSAPP_PROD CHAR (15)
	DECLARE @TELEFONE_CONTATO_PROD CHAR (15)
	DECLARE @EMAIL_CONTATO_PROD CHAR (50)
	DECLARE @EMAIL_LAYOUT_PROD CHAR (50)
	DECLARE @EMAIL_NEWS_PROD CHAR (50)
	DECLARE @CODPARC_CONTATO_PROD INT
	DECLARE @CARGO_CTT_PROD CHAR (30)

	SET @CODPARC_CONTATO_PROD = 0
	SET @CPF_CNPJ_PROD = 0
	SET @DTALTER_PROD = ''
	SET @ATUALIZADO_PROD = ''
	SET @NUMEND_PROD = (SELECT NUMEND FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @COMPLEMENTO_PROD = (SELECT COMPLEMENTO FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @CODBAI_PROD = (SELECT CODBAI FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @NOMEBAI_PROD = (SELECT TOP 1 NOMEBAI FROM SANKHYA_PRODUCAO.SANKHYA.TSIBAI WHERE CODBAI = @CODBAI_ATUA)
	SET @TELEFONE_PROD = (SELECT TELEFONE FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @VENDEDOR_PROD = (SELECT CODVEND FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @CEP_PROD =	(SELECT CEP FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @CODEND_PROD = (SELECT CODEND FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @EMAIL_PROD = (SELECT EMAIL FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @OBSERVACOES_PROD = (SELECT OBSERVACOES FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @CODCID_PROD = (SELECT CODCID FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	SET @CODREG_PROD = (SELECT CODREG FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR WHERE CODPARC = @CODPARC_ATUA)
	
  
DECLARE BUSCAR_ATUALIZADOS CURSOR FOR
	SELECT PAR.CODPARC,
		PAR.CGC_CPF,
		CODVEND, 
		PAR.CEP, 
		PAR.CODEND,
		ENDE.NOMEEND,
		PAR.NUMEND,
		PAR.COMPLEMENTO,
		PAR.CODBAI,
		BAI.NOMEBAI,
		PAR.CODCID,
		CID.NOMECID,
		PAR.CODREG,
		PAR.EMAIL, 
		PAR.OBSERVACOES, 
		PAR.DTALTER, 
		PAR.AD_ATUALIZADO, 
		ENDE.TIPO,		
		PAR.TELEFONE
	FROM TGFPAR PAR
		INNER JOIN TSIEND ENDE ON ENDE.CODEND = PAR.CODEND
		INNER JOIN TSIBAI BAI ON BAI.CODBAI = PAR.CODBAI
		INNER JOIN TSICID CID ON CID.CODCID = PAR.CODCID
	WHERE PAR.DTALTER >= '01/07/2023' AND PAR.ATIVO='S' AND PAR.CODTIPPARC = 10101000 AND PAR.CODVEND >0 AND 
	(PAR.AD_ATUALIZADO = 'N' OR PAR.AD_ATUALIZADO IS NULL) AND
	PAR.CLIENTE ='S'
	ORDER BY PAR.CODPARC

OPEN BUSCAR_ATUALIZADOS

FETCH NEXT FROM BUSCAR_ATUALIZADOS INTO @CODPARC_ATUA, @CPF_CNPJ_ATUA, @VENDEDOR_ATUA,@CEP_ATUA,@CODEND_ATUA,@NOMEEND_ATUA, @NUMEND_ATUA,@COMPLEMENTO_ATUA, 
@CODBAI_ATUA, @NOMEBAI_ATUA, @CODCID_ATUA,@NOMECID_ATUA, @CODREG_ATUA, @EMAIL_ATUA, @OBSERVACOES_ATUA, @DTALTER_ATUA, @ATUALIZADO_ATUA,@TIPO_ATUA,@TELEFONE_ATUA

WHILE @@FETCH_STATUS = 0
BEGIN
	--VERIFICA SE O PARCEIRO ESTA CADASTRADO EM PRODUÇÃO	
	IF EXISTS (SELECT CODPARC FROM SANKHYA_PRODUCAO.SANKHYA.TGFPAR  WHERE CODPARC = @CODPARC_ATUA)
	BEGIN	
			SET @CODEND_ATUA = (SELECT TOP 1 CODEND FROM SANKHYA_PRODUCAO.SANKHYA.TSIEND  WHERE CODEND = @CODEND_ATUA)
			SET @CODBAI_ATUA = (SELECT CODBAI FROM SANKHYA_PRODUCAO.SANKHYA.TSIBAI  WHERE CODBAI = @CODBAI_ATUA)
			SET @CODCID_ATUA = (SELECT TOP 1 CODCID FROM SANKHYA_PRODUCAO.SANKHYA.TSICID  WHERE CODCID= @CODCID_ATUA)
			 
		--VERIFICA SE O VENDEDOR FOI ATUALIZADO
		IF(@VENDEDOR_ATUA <> @VENDEDOR_PROD OR @VENDEDOR_PROD IS NULL)
		BEGIN
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET CODVEND = @VENDEDOR_ATUA WHERE CODPARC = @CODPARC_ATUA
			
		END
		
		--VERIFICAR SE O CEP FOI ATUALIZADO
		IF (@CEP_ATUA <> @CEP_PROD OR @CEP_PROD IS NULL)
		BEGIN
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET CEP = @CEP_ATUA WHERE CODPARC = @CODPARC_ATUA
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET CODEND = @CODEND_ATUA WHERE CODPARC = @CODPARC_ATUA 
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET CODBAI = @CODBAI_ATUA WHERE CODPARC = @CODPARC_ATUA
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET CODCID = @CODCID_ATUA WHERE CODPARC = @CODPARC_ATUA
		END		

		-- VERFICA SE O NUMERO DOI ATUALIZADO
		IF (@NUMEND_ATUA <> @NUMEND_PROD OR @NUMEND_PROD IS NULL)
		BEGIN
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET NUMEND = @NUMEND_ATUA WHERE CODPARC = @CODPARC_ATUA
			
		END
		
		--VERIFICA SE O COMPLEMENTO FOI ATUALIZADO
		IF (@COMPLEMENTO_ATUA <> @COMPLEMENTO_PROD OR @COMPLEMENTO_PROD IS NULL)
		BEGIN
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET COMPLEMENTO = @COMPLEMENTO_ATUA WHERE CODPARC = @CODPARC_ATUA
			
		END

		--VERIFICA SE A REGIAO FOI ATUALIZADA
		IF (@CODREG_ATUA <> @CODREG_PROD)
		BEGIN
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET CODREG = @CODREG_ATUA WHERE CODPARC = @CODPARC_ATUA
			
		END
				
		--VERIFICA SE O EMAIL FOI ATUALIZADO
		IF (@EMAIL_ATUA <> @EMAIL_PROD OR @EMAIL_PROD  IS NULL)
		BEGIN
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET EMAIL = @EMAIL_ATUA WHERE CODPARC = @CODPARC_ATUA
					
		END
		
		--VERIFICA SE O TELEFONE FOI ATUALIZADO
		IF(@TELEFONE_ATUA <> @TELEFONE_PROD OR @TELEFONE_PROD IS NULL)
		BEGIN
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET TELEFONE = @TELEFONE_ATUA WHERE CODPARC = @CODPARC_ATUA
				
		END
		
		--VERIFICA SE AS OBSERVAÇÕES VAO ATUALIZAR
		IF (@OBSERVACOES_ATUA <> @OBSERVACOES_PROD OR @OBSERVACOES_PROD IS NULL)
		BEGIN
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET OBSERVACOES = @OBSERVACOES_ATUA WHERE CODPARC = @CODPARC_ATUA
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET AD_ATUALIZADO = 'S', AD_DATA_ALTERACAO = GETDATE() WHERE CODPARC = @CODPARC_ATUA
			UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFPAR SET AD_ATUALIZADO = 'S', AD_DATA_ALTERACAO = GETDATE() WHERE CODPARC = @CODPARC_ATUA 
			UPDATE TGFPAR SET AD_ATUALIZADO = 'S', AD_DATA_ALTERACAO = GETDATE() WHERE CODPARC = @CODPARC_ATUA 
		END

	
	-- BUSCAR OS CONTATOS ---
	DECLARE BUSCAR_CONTATOS CURSOR FOR
		SELECT CTT.CODCONTATO, 
			CTT.CODPARC,
			CTT.NOMECONTATO,
			CTT.AD_LAYOUT,
			CTT.CELULAR,
			CTT.AD_WHATSAPP,
			CTT.TELEFONE,
			CTT.EMAIL,
			CTT.AD_EMAIL_LAYOUT,
			CTT.AD_EMAIL_NEWS,
			CTT.CARGO
		FROM TGFCTT CTT
		WHERE CTT.CODPARC = @CODPARC_ATUA

		
	OPEN BUSCAR_CONTATOS
		
	FETCH NEXT FROM BUSCAR_CONTATOS INTO @CODCONTATO_ATUA, @CODPARC_ATUA,@NOMECONTATO_ATUA, @LAYOUT_ATUA, @CELULAR_ATUA, @WHATSAPP_ATUA, @TELEFONE_CONTATO_ATUA, 
	@EMAIL_CONTATO_ATUA, @EMAIL_LAYOUT_ATUA, @EMAIL_NEWS_ATUA,@CARGO_CTT_ATUA
		
	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		SET @NOMECONTATO_PROD = (SELECT NOMECONTATO FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)
		SET @LAYOUT_PROD = (SELECT AD_LAYOUT FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)
		SET @CELULAR_PROD = (SELECT CELULAR FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)
		SET @WHATSAPP_PROD = (SELECT AD_WHATSAPP FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)
		SET @TELEFONE_CONTATO_PROD = (SELECT TELEFONE FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)
		SET @EMAIL_CONTATO_PROD = (SELECT EMAIL FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA )
		SET @EMAIL_LAYOUT_PROD = (SELECT AD_EMAIL_LAYOUT FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)
		SET @EMAIL_NEWS_PROD = (SELECT AD_EMAIL_NEWS FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)
		SET @CARGO_CTT_PROD = (SELECT CARGO FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)

		-- VERIFICA SE EXISTE O CONTATO 
		IF EXISTS (SELECT CODPARC FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT  WHERE CODPARC = @CODPARC_ATUA)
		BEGIN
					

			--TRAS O VALOR PARA VARIAVEL PARCEIRO DO CONTATO
			SET @CODPARC_CONTATO_PROD = @CODPARC_ATUA
			
			--VERIFICA SE ATUALIZOU O NOME DO CONTATO
			IF (@NOMECONTATO_ATUA <> @NOMECONTATO_PROD OR @NOMECONTATO_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET NOMECONTATO = @NOMECONTATO_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD AND CODCONTATO = @CODCONTATO_ATUA
				
			END

			--VERIFICA MARCOU A FLAF DE APROVAR LAYOUT
			IF (@LAYOUT_ATUA <> @LAYOUT_PROD OR @LAYOUT_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET AD_LAYOUT = @LAYOUT_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD AND CODCONTATO = @CODCONTATO_ATUA
				
			END

			-- VERIFICA SE FOI ATUALIZADO O CELULAR
			IF (@CELULAR_ATUA <> @CELULAR_PROD OR @CELULAR_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET CELULAR = @CELULAR_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD AND CODCONTATO = @CODCONTATO_ATUA
				
			END

			-- VERIFICA SE FOI ATUALIZADO O WHATSAPP 
			IF(@WHATSAPP_ATUA <> @WHATSAPP_PROD OR @WHATSAPP_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET AD_WHATSAPP = @WHATSAPP_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD AND CODCONTATO = @CODCONTATO_ATUA
				
			END
					
			-- VERIFICA SE FOI ATUALIZADO O TELEFONE DO CONTATO
			IF (@TELEFONE_CONTATO_ATUA <> @TELEFONE_CONTATO_PROD OR @TELEFONE_CONTATO_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET TELEFONE = @TELEFONE_CONTATO_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD AND CODCONTATO = @CODCONTATO_ATUA
				
			END

			-- VERIFICA SE EMAIL FOI ATUALIZADO
			IF (@EMAIL_CONTATO_ATUA <> @EMAIL_CONTATO_PROD OR @EMAIL_CONTATO_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET EMAIL = @EMAIL_CONTATO_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD AND CODCONTATO = @CODCONTATO_ATUA
				
			END

			-- VERIFICA SE O EMAIL DO LAYOUT FOI ATUALIZADO
			IF (@EMAIL_LAYOUT_ATUA <> @EMAIL_LAYOUT_PROD OR @EMAIL_LAYOUT_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET AD_EMAIL_LAYOUT = @EMAIL_LAYOUT_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD AND CODCONTATO = @CODCONTATO_ATUA
				
			END
					
			-- VERIFICA SE O EMAIL DE NOTICIAS FOI ATUALIZADO
			IF (@EMAIL_NEWS_ATUA <> @EMAIL_NEWS_PROD OR @EMAIL_NEWS_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET AD_EMAIL_NEWS = @EMAIL_NEWS_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD AND CODCONTATO = @CODCONTATO_ATUA
				
			END

			-- VERIFCA SE FOI ATUALIZADO O CARGO
			IF(@CARGO_CTT_ATUA <> @CARGO_CTT_PROD OR @CARGO_CTT_PROD IS NULL)
			BEGIN
				UPDATE SANKHYA_PRODUCAO.SANKHYA.TGFCTT SET CARGO = @CARGO_CTT_ATUA WHERE CODPARC = @CODPARC_CONTATO_PROD	AND CODCONTATO = @CODCONTATO_ATUA
				
			END

		END
		-- SE NAO TEM O CONTATO NO CADSATRO DA INSERT
		IF NOT EXISTS(SELECT CODPARC FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT  WHERE CODPARC = @CODPARC_ATUA AND CODCONTATO = @CODCONTATO_ATUA)
		BEGIN
			
			DECLARE @CODCONTATO_CTT INT
			SET @CODCONTATO_CTT = (SELECT MAX(CODCONTATO) FROM SANKHYA_PRODUCAO.SANKHYA.TGFCTT)
			INSERT INTO SANKHYA_PRODUCAO.SANKHYA.TGFCTT(CODCONTATO,CODPARC, NOMECONTATO,AD_LAYOUT, CELULAR, AD_WHATSAPP, TELEFONE, EMAIL, AD_EMAIL_LAYOUT, AD_EMAIL_NEWS)
			VALUES (@CODCONTATO_CTT+1,@CODPARC_ATUA,@NOMECONTATO_ATUA, @LAYOUT_ATUA, @CELULAR_ATUA, @WHATSAPP_ATUA, @TELEFONE_CONTATO_ATUA,@EMAIL_CONTATO_ATUA, @EMAIL_LAYOUT_ATUA, @EMAIL_NEWS_ATUA)
		END

		
		FETCH NEXT FROM BUSCAR_CONTATOS INTO @CODCONTATO_ATUA, @CODPARC_ATUA, @NOMECONTATO_ATUA, @LAYOUT_ATUA, @CELULAR_ATUA, @WHATSAPP_ATUA, @TELEFONE_CONTATO_ATUA, 
		@EMAIL_CONTATO_ATUA, @EMAIL_LAYOUT_ATUA, @EMAIL_NEWS_ATUA,@CARGO_CTT_ATUA

		END
		CLOSE BUSCAR_CONTATOS
		DEALLOCATE BUSCAR_CONTATOS

	END


FETCH NEXT FROM BUSCAR_ATUALIZADOS INTO @CODPARC_ATUA, @CPF_CNPJ_ATUA, @VENDEDOR_ATUA,@CEP_ATUA,@CODEND_ATUA,@NOMEEND_ATUA, @NUMEND_ATUA,@COMPLEMENTO_ATUA, 
@CODBAI_ATUA, @NOMEBAI_ATUA, @CODCID_ATUA,@NOMECID_ATUA, @CODREG_ATUA, @EMAIL_ATUA, @OBSERVACOES_ATUA, @DTALTER_ATUA, @ATUALIZADO_ATUA,@TIPO_ATUA,@TELEFONE_ATUA

END
CLOSE BUSCAR_ATUALIZADOS
DEALLOCATE BUSCAR_ATUALIZADOS


